@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #00d4ff;
  --secondary-color: #090979;
  --primary-color-dark: #020024;
  --bg-dark: #1b1b1b;
  --bg-light: #252525;
  --text-light: #a3a3a3;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(to right,
      var(--primary-color),
      var(--secondary-color));
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--bg-light);
}

.logo {
  width: 150px;
}

a {
  text-decoration: none;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__description {
  margin-bottom: 1rem;
  color: var(--text-light);
  text-align: center;
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  white-space: nowrap;
  background: var(--gradient);
  outline: none;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}


/* Header Section Styles */

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/img/header.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Tob Bar */
.top-bar {
  color: var(--white);
  background: var(--gradient);
}

.top-bar__content {
  height: 30px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 12px;
  color: var(--white);
}

.top-bar .social-media {
  justify-content: space-between;
  margin-right: 666px;
}


.top-bar .icon {
  margin-left: 5px;
  margin-right: 3px;
  color: var(--white);
  ;
}

/* Navbar */

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
  position: relative;
  z-index: 1;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f9f9f9;
}

nav li::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  top: 100%;
  bottom: 10px;
  left: 0;
  background: var(--gradient);
  z-index: -1;
  transition: transform 0.5s ease;
  transform: scale(0, 1);
}

nav li:hover:after {
  width: 100%;
  transform: scale(1, 1);
}

.header__container {
  padding-block: 6rem 10rem;
  display: grid;
  gap: 4rem 2rem;
}


.header__content {
  text-align: left;
  width: 60%;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

.header__content .section__description {
  color: var(--white);
  margin-bottom: 2rem;
  text-align: left;
}

.subscribe__content form {
  max-width: 600px;
  margin-block: 2rem;
  display: flex;
  background-color: var(--white);
  border-radius: 5rem;
}

.subscribe__content input {
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--bg-dark);
  outline: none;
  border: none;
  background-color: transparent;
}

.subscribe__content .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* About Section Styles */
.about_container {
  height: 100vh;
  width: 100%;
  padding: 90px 0;
}

.pic {
  height: 600px;
  width: 500px;
}

.about {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  width: 540px;
}

.text h2 {
  text-align: left;
}

.text h2::after {
  left: 50%;
  top: 860px;
}

.text p.section__description {
  line-height: 2.9;
  text-align: left;
  margin-left: -20px;
  font-size: 15px;
}

.column-card {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.card {
  display: grid;
}

.card i,
.card h5 {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.data {
  margin-top: 50px;
}

.data .btn {
  margin-left: -10px;
}


/* Service Section Styles */
.service__container {
  padding: 200px 0;
}


.service__content .section__description {
  margin-bottom: 2rem;
}

.service__content .btn {
  justify-self: center;
  margin-left: 45%;
}

.service__flex {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.service__card {
  padding: 4rem 2rem;
  background-color: var(--bg-dark);
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

.service__card:hover{
  background: var(--gradient);
  margin-top: -10px;
  transition: 0.5s ease-out;
}

.service__card:hover i,
.service__card:hover h5{
  background: var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service__card:hover i::after{
  background: var(--white);
}

.service__card:hover p{
  color: var(--white);
}

.service__card:hover .btn{
  color: var(--primary-color);
  background: var(--white);
}

.service__card i {
  position: relative;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  font-weight: 600;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service__card i::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2px;
  background-color: var(--text-light);
  opacity: 0.5;
}

.service__card h5 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service__card h3 {
  font-size: 2rem;
  font-weight: 700;
}

.service__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.service__card .btn {
  margin-top: 1rem;
}

/* Blog Section */
.blog__container {
  margin-top: -10%;
}

.blog__content h1{
  margin-left: 32%;
  margin-bottom: 20px;
  font-size: 36px;
}

.blog__content h1::after{
  content: '';
  position: absolute;
  width: 450px;
  height: 6px;
  transform: translateY(980%) translateX(-99%);
  background: var(--gradient);
}

.blog__content .section__description {
  margin-bottom: 2rem;
}

.blogs{
  justify-content: center;
}

.blogs .blog__f-width h5{
  font-size: 24px;
  margin-left: 16%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.blogs .full_width{
  width: 850px;
  height: 500px;
  margin-left: 180px;
}

.blog__posts{
  margin-top: 50px;
  margin-left: 14%;
  width: 75%;
  padding: 30px;
  background: var(--bg-dark);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.blog__posts h4{
  text-align: left;
  margin-left:10%;
  font-size: 28px;
}

.post{
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-top: 50px;
}

.blog__posts .blog__left{
  width: 20%;
}

.blog__posts .blog__left img{
  width: 200px;
  height: 170px;
  border-radius: 10%;
}

.blog__posts .blog__right{
  width: 50%;
  margin-left: 70px;
}

.blog__posts .blog__right h5{
  font-size: 20px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.blog__posts .blog__right .content{
  display: flex;
}

.blog__posts .blog__right p{
  text-align: left;
}

.blogs .blog__f-width .meta_f-width{
  margin-left: 18%;
  margin-top: 40px;
}

.blogs .blog__f-width .meta_f-width,
.blog__posts .blog__right .meta{
  display: flex;
}

.blogs .blog__f-width .meta_f-width img,
.blog__posts .blog__right .meta img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.blogs .blog__f-width .meta_f-width h6{
  font-size: 15px;
}

.blog__posts .blog__right .meta h6{
  font-size: 13px;
}

.blog__f-width .meta_f-width .time,
.blog__posts  .blog__right .meta .time{
  display: flex;
}

.blog__f-width .meta_f-width .time{
  margin-left: 50%;
}

.blog__f-width .meta_f-width div.time i{
  margin-top: 9px;
}

.blog__posts  .blog__right .meta .time{
  margin-left: 23%;
}

.blog__posts  .blog__right .meta .time p{
  font-size: 13px;
}

.blog__posts  .blog__right .meta .time i{
  margin-top: 8px;
}

.blogs .blog__f-width .meta_f-width h6,
.blog__posts  .blog__right .meta h6{
  margin-top: 5px;
  margin-left: 10px;
}

.blog__posts .btn{
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 40%;
}

/* Banner Section Styles */
.banner__header{
  max-width: 900px;
  margin-inline: auto;
}

.banner__header__grid {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.banner__header__grid>div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.banner__header__grid i {
  font-size: 2rem;
  line-height: 2rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner__container {
  background-image: var(--gradient);
}

.banner__container .banner__content h2{
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.banner__content {
  display: grid;
  align-items: center;
  margin-left: 28%;
  gap: 2rem;
}

.banner__content .btn__container{
  justify-content: space-between;
}

.banner__content .btn__container span{
  font-size: 26px;
}

.banner__content .btn {
  color: var(--primary-color);
  background: var(--white);
  margin: 20px;
}

/* Contact Form Styles */
.contact__container {
  padding: 4rem 1rem;
  width: 88%;
  margin-left: 6%;
  margin-top: 100px;
  margin-bottom: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  position: relative;
}

.form-horizontal {
  display: grid;
  font-weight: 400;
  justify-self: center;
  padding: 50px;
  background: var(--bg-dark);
}

.form-horizontal h3{
  font-size: 26px;
}

.form-horizontal h3::after{
  content: '';
  position: absolute;
  width: 190px;
  height: 6px;
  transform: translateY(980%) translateX(-90%);
  background: var(--gradient);
}

.form-group,
textarea {
  margin-top: 20px;
}

.form-control,
textarea {
  width: 500px;
  background-color: var(--bg-light);
  color: #fff;
  letter-spacing: 1px;
  padding: 20px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 500px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.direct-contact-container {
  width: 450px;
  margin: 0 70px;
  margin-right: 0;
  padding: 50px;

}

.direct-contact-container h3{
  margin-left: -26px;
  font-size: 26px;
}

.direct-contact-container h3::after{
  content: '';
  position: absolute;
  width: 240px;
  height: 6px;
  transform: translateY(980%) translateX(-97%);
  background: var(--gradient);
}

.contact-list {
  list-style-type: none;
  margin-top: 40px;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 6;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 22px;
}

.phone {
  margin-left: 22px;
}

.gmail {
  margin-left: 22px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 90px auto;
  margin-left: -20px;
  padding: 0;
}

.social-media-list li a {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  margin-right: 15px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: rgba(255, 255, 255, .6);
}

/* footer Styles */

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__col:first-of-type{
  margin-top: -50px;
}

.footer__col{
  margin-top: -30px;
}

.footer__col .section__description {
  max-width: 350px;
  text-align: left;
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}


.footer__col:nth-of-type(2) h4::after{
  content: '';
  position: absolute;
  width: 93px;
  height: 4px;
  transform: translateY(800%) translateX(-92%);
  background: var(--gradient);
}

.footer__col:nth-of-type(3) h4::after{
  content: '';
  position: absolute;
  width: 118px;
  height: 4px;
  transform: translateY(800%) translateX(-96%);
  background: var(--gradient);
}

.footer__col:nth-of-type(4) h4::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  transform: translateY(800%) translateX(-92%);
  background: var(--gradient);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__col a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer__col a:hover {
  color: var(--secondary-color);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials a {
  font-size: 1.5rem;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.8rem;
  background: var(--gradient);
  color: var(--white);
  text-align: center;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}
